.registartion-form-wrapper, .login-form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    /* width: 300px; */
}


