.user-card {
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* padding: 20px; */
    /* text-align: center; */
    margin-top: 30px;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    margin-bottom: 5px;
  }

  .withdraw-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  